@import "tailwindcss";
@import "./nprogress.css";
@import "./excon.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../js/Pages/**/*.svelte';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@font-face {
    font-family: "Cubano";
    src: url("../fonts/Cubano.woff2") format("woff2"),
        url("../fonts/Cubano.woff") format("woff"),
        url("..fonts/Cubano.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia-Pro-Black-Az.woff2") format("woff2"),
        url("../fonts/Sofia-Pro-Black-Az.woff") format("woff"),
        url("../fonts/Sofia-Pro-Black-Az.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --color-primary: #1f1d1f;
        --color-secondary: #ff3e00;
        --color-edit: #e1a224;
        --color-tertiary: #16c47f;
    }

    ::selection {
        background-color: var(--color-primary);
        color: white;
    }

    html {
        scroll-behavior: smooth;
        overflow-y: scroll;
    }

    body {
        font-family: "Excon-Black", Verdana, sans-serif;
        cursor: auto;
    }

    .font-sofia {
        font-family: "Sofia Pro", Verdana, sans-serif;
        text-transform: none;
    }
}

@layer components {
    .hover-underline {
        @apply relative inline-block;
    }

    .hover-underline::after {
        content: "";
        @apply absolute left-1/2 bottom-0 w-0 h-0.5 transition-all duration-500 ease-in-out;
        background-color: var(--color-secondary);
    }

    .hover-underline:hover::after {
        @apply left-0 w-full;
    }
}

@layer utilities {
    /* 
        Background color Utilities
    */

    .bg-primary {
        background-color: var(--color-primary);
    }

    .bg-secondary {
        background-color: var(--color-secondary);
    }

    /* 
        Text color Utilities
    */

    .text-secondary {
        color: var(--color-secondary);
    }

    /* 
        Border color Utilities
    */
    .border-secondary {
        border-color: var(--color-secondary);
    }

    /* 
        HOVER BG Utilities
    */
    .hover\:bg-primary:hover {
        background-color: var(--color-primary);
    }
    .hover\:bg-secondary:hover {
        background-color: var(--color-secondary);
    }

    /* 
        HOVER TEXT Utilities
    */
    .hover\:text-primary:hover {
        color: var(--color-primary);
    }
    .hover\:text-secondary:hover {
        color: var(--color-secondary);
    }

     /* 
        HOVER BORDER Utilities
    */
    .hover\:border-primary:hover {
        border-color: var(--color-primary);
    }
    .hover\:border-secondary:hover {
        border-color: var(--color-secondary);
    }
}
